.recipeCreateForm {
  /* background-color: teal; */
  width: 80%;
  margin: 0 auto;
}
.formPageTitle {
  text-align: center;
}
#formTitle {
  width: 40%;
}
.ingredientQuantity,
.ingredientName,
.ingredientUnit {
  width: 30% !important;
}
.ingredientName,
.ingredientQuantity {
  margin-right: 3em !important;
}
.ingredientsInputs {
  margin: 1em 0;
  width: 100% !important;
}
.field4 {
  width: 40%;
  /* display: flex;
  justify-content: space-between; */
}
#season,
#duration {
  width: 40%;
  /* display: flex;
  align-items: center; */
}
#stepsToFollow {
  height: 10em;
  position: relative;
}

.submitButtonWrapper {
  text-align: center;
}
.brandContainer {
  display: flex;
  margin: 0.5em 0 !important;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
.ingredientsList {
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-template-areas: "a b";
  grid-template-rows: auto;
}
.ingredientsListName {
  grid-area: a;
}
.ingredientsListQuantity {
  grid-area: b;
  margin: 0 !important;
}
