.container,
#root,
.myMainContainer {
  height: 100%;
  width: 100%;
}
.myMainContainerRecipeList {
  height: 95%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.headerContainer {
  margin: 0 !important;
  height: 5%;
  min-height: 30px;
  background-color: #e7e7e7 !important;
  width: 100%;
}
.formContainer {
  height: 95%;
}
.formContainer::before {
  opacity: 0.5 !important;
}
.formContainer,
.myMainContainerRecipeList {
  background-color: #8c73a7;
  overflow-y: auto;
}

.field label {
  font-size: 1.5em !important;
  font-weight: 600 !important;
  margin-bottom: 0.5em !important;
}

.recipeCreateForm {
  /* background-color: teal; */
  width: 60%;
  margin: 0 auto;
  padding-top: 2em;
}
.formPageTitle {
  text-align: center;
  font-family: "Satisfy", cursive;
  font-size: 3.5em;
}
#formTitle {
  width: 40%;
}
.ingredientQuantity,
.ingredientUnit {
  width: 15% !important;
  min-width: 80px;
}
.ingredientName {
  width: 25% !important;
}
.ingredientName,
.ingredientQuantity {
  margin-right: 1.5em !important;
}
.ingredientsInputs {
  margin: 1em 0;
  width: 100% !important;
}
.myRemoveButton {
  margin-left: 1em !important;
}
.field4 {
  width: 40%;
  /* display: flex;
  justify-content: space-between; */
}
.field4 #field4inputs {
  color: #6b4c8f;
  margin-top: 0.5em;
}
#season,
#duration {
  width: 40%;
  /* display: flex;
  align-items: center; */
  margin-bottom: 1em;
}
#stepsToFollow {
  height: 10em;
  position: relative;
}
.ingredientRemove {
  display: none;
}
.submitButtonWrapper {
  text-align: center;
}
.submitButtonWrapper button {
  width: 10em;
}
::placeholder {
  color: #8c73a7 !important;
}
.brandContainer {
  display: flex;
  margin: 0.5em 3rem !important;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
.ingredientsList {
  display: grid;
  width: 100%;
  grid-template-columns: 60% 35%;
  grid-gap: 5%;
  grid-template-areas: "a b";
  grid-template-rows: auto;
}
.ingredientsListName {
  grid-area: a;
  width: 100%;
}

.ingredientsListQuantity {
  grid-area: b;
  margin: 0 !important;
}

.upperPage {
  padding-top: 0.5em;
  padding-left: 3rem;
  /* height: 10%;
  min-height: 40px; */
  height: max(10%, 50px);
  width: 100%;
  display: flex;
  position: relative;
}
.backgroundImg {
  position: absolute;
}
.seasonButton,
.containerCreateRecipe {
  margin-right: 2rem !important;
}
.customCard {
  justify-self: center;
}

.customCard .header {
  font-size: 3.5em;
}

.customCard content {
  width: 100%;
}
.disabledEditButton {
  opacity: 0.4 !important;
}
.disabledEditButton:hover {
  cursor: help !important;
}
.renderedList {
  margin: 0 !important;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  /* box-sizing: border-box; */
  align-items: baseline;
  width: 100%;
  /* height: 92%; */
  /* height: clamp(30em, 28em, 50em); */
  max-height: 50em;
  min-height: 92%;
}
.customCard {
  min-width: 350px;
  /* text-align: center; */
  background-color: #e7e7e7 !important;
  /* height: 450px; */
  max-height: 100em;
}
.recipeSteps {
  width: 100%;
}
.plainText {
  width: 100%;
}
.hiddenMyPainText {
  display: none;
}
.modeDetailsButtonContainer {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}
.moreInfoButton i {
  margin-left: 5px !important;
}
/* ---------------modal */
.modal {
  text-align: center !important;
}

.modal .header,
.modal .actions {
  font-size: 1.5em !important;
  background-color: #9588a3 !important;
  color: #e7e7e7 !important;
}
.modal .content {
  font-size: 1.25em !important;
}
.titleRecipeDelete {
  font-weight: bolder;
  color: #6b4c8f;
  font-family: "Satisfy", cursive !important;
  font-size: 1.5em !important;
  margin: 0 5px;
}
.hamburgerWrap {
  display: none;
}
.normalResButtonsWrap {
  display: flex;
}

/* modal--------------- */
@media only screen and (max-width: 1600px) {
  .renderedList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1200px) {
  .renderedList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 780px) {
  .hamburgerOnLowRes {
    display: grid !important;
    gap: 1rem;
  }
  .renderedList {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    /* height: calc(100% - 45px); */
  }
  .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .renderedList {
    grid-template-columns: repeat(1, 1fr);
  }
  .normalResButtonsWrap {
    display: none;
  }
  .hamburgerWrap {
    display: flex;
  }
  .upperPage {
    height: 45px;
  }
}
/* grid */
